
p {
  font-size: large;
}

.x-small-table th, td {
  font-size: x-small;
}

.small-text {
    font-size: small;
}

.xx-large-list-text li > p {
    font-size: xx-large;
}

.small-code .remark-code {
    font-size: small;
}
